body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 1.5em;
  background: url('../img/background05.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding:0;
}
a{
	color: #f8f8f8;
}
.clear{
	clear: both;
}
#wrapper{
	max-width: 1000px;
	margin: 0 auto;
}
#main{
	background: url('../img/black80.png') 0 0 repeat;
    padding: 0 40px 40px;
}
#logo{
	background: url("/img/skate_wheel.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 100px;
    left: 50%;
    margin-left: -50px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 26px;
    width: 100px;
}

section{
	margin: 0 0 40px 0;
}
section:last-child{
	margin: 0;
}

header{
	background: url("../img/header-bg-no_wheel.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 150px;
    margin: 40px 0 0;
    position: relative;
    width: 1000px;
}

/* INTRO SECTION */
section#intro{
	
}
section#intro h2{
    margin: 0 0 20px;
    font-size: 1.7em;
}
section#intro span{
	color: #e2e2e2;
	font-size: 1.2em;
}

/* INFORMATION SECTION */
section#info{
	padding: 20px 0;
	border-top: 1px dotted #aaa;
	border-bottom: 1px dotted #aaa;
}
.info-block{
	display: block;
	float: left;
	width: 200px;
	margin: 0 40px 0 0;
	color: #e2e2e2;
	font-size: .8em;
}
.info-block.last{
	margin: 0;
}
.info-block h3{
	color: #fff;
	font-size: 1.4em;
}
span.asterisk{
	display: none;
	color: #666666;
    font-size: 0.8em;
    left: 3px;
    position: relative;
    top: -5px;
}

/* MAP SECTION */
section#map{

}
section#map small{
	font-size: .5em;
}

/* TWITTER SECTION */
section#twitter{

}

footer{
	padding: 40px 0;
	font-weight: 100;
	text-align: center;
	text-shadow: 0 0 5px #333333;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#333333,direction=45);
}
#disclaimer{
	font-size: 13px;
	font-weight: 100;
}